/*font-family: 'Inconsolata', monospace;
font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;*/
body{
	min-width: 320px;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
}
img{
  max-width: 100%;
  height: auto;
}

a{
	color: #b4ad9e;
}

a:hover{
	color: #898377;
}

header .navbar-light{
	background: #fff;
}

header .nav-brand{
	font-family: 'Inconsolata', monospace;
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
}

header .nav-item{
    text-transform: uppercase;
}

/*header .nav-link a::hover{
	content: '';
	display: block;
	width: 100%;
	background: #ccc;
	height: 1px;
	transform: scale(0);
}

header .nav-link a::hover::after{
	transform: scale(1);
}
*/

section a, .post-category{
	color: #b4ad9e;
}

section a:hover{
    color: #898377;
    text-decoration: none;
}
.post{
	padding-top: 50px;
	padding-bottom: 50px;
}
p{
	line-height: 1.5rem;
}
.post-category,.link-more{
	font-size;
	color: #b4ad9e;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
}

.post-title a{
	color: #626262;
}

.post p{
	margin-bottom: 80px;
}
h2,h3{
	margin: 1rem 0;
	font-size: 30px;
}

.grid-posts{
	padding-bottom: 70px;
	padding-top: 70px;
}

.grid-posts .card{
	border: 0;
	margin-bottom: 100px;

}

.grid-posts .card-body{
	padding-left: 0;
	padding-right: 0;
}


.sign-up{
	background: #f0f0f0;
	padding-top: 70px;
	padding-bottom: 70px;
}

.sign-up h3{
	color: #333;
}

.sign-up form{
	margin-top: 70px;
}

.sign-up .form-input{
	position: relative;
}

.sign-up .form-control{
	border: 0;
	border-bottom: 1px solid #000;
	border-radius: 0;
	background: transparent;
}

.sign-up .form-control:focus{
  box-shadow: none;
}
.form-input .btn{
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 25px;
}

footer{
	background: #f0f0f0;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #000;
}

footer a{
	color: #000;

}

.footer-left a{
	padding-right: 20px;
}
.footer-right a{
	padding-left: 20px;
}






/*768px-992px*/
 
@media screen and (max-width: 992px){
    header .navbar-item{
   	margin-right: 100px;
   }
}

/*576-768*/
@media screen and (max-width: 768px){
 
}
  

/*0-576*/
@media screen and (max-width: 576px){
   .footer-left{
   	padding-bottom: 20px;
   }

}
/*font-family: 'Inconsolata', monospace;
font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;*/